version: '3.8'
services:
   
  app:
    build: .
    depends_on:
       
      - postgres
    ports:
      - "8085:8085"
    volumes:
       
      - ./:/usr/src/app/
     
      - /usr/src/app/node_modules
      

   
  postgres:
    image: postgres:14.1-alpine
    restart: always
    environment:
       
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=root
    ports:
       
      - "5432:5432"
    volumes:
       
      - ./database-seed.sql:/docker-entrypoint-initdb.d/database-seed.sql


  # pgadmin-compose:
  #   image: dpage/pgadmin4
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: "kelvin@example.com"
  #     PGADMIN_DEFAULT_PASSWORD: "kelvin123"
  #   ports:
  #     - "16543:80"
  #   depends_on:
  #     - postgres



